body{
    background-color: steelblue;
    font-family: 'Open Sans', sans-serif;

}
.header{
    background-color: pink;
    width: 100%;
    text-align: center;
}

table, th, td {
    border:2.5px solid black;
    background-color:beige;
}